doctype html
html(lang="en")
  head
    meta(
      content="initial-scale=1.0, width=device-width" 
      name="viewport"
      )
    meta(charset="utf-8")
    link(
      rel="stylesheet" 
      href="css/styles.css"
      )
    link(
      href="/img/favicon.ico" 
      type="image/x-icon" 
      rel="icon"
      )
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="js/login.js")
    title MyToDo - Log In
  body
    .navBar
      nav
        a(
          target="_self" 
          href="login"
          )
          span
            img(
              src="img/checklist.png" 
              alt="List icon"
              )
    h1 Welcome to MyToDo!
    .flexContainer
      .loginForm
        p#errorMessage
        h2 Login
        form#login
          p
            label(for="username") Username:
            input#username(
              placeholder="Enter Username" 
              name="username" 
              type="text"
              )
          p
            label(for="password") Password:
            input#password(
              placeholder="Enter Password" 
              name="password" 
              type="password"
              )
          button#loginButton.submitButton(type="button")
            | Login
            img(
              src="img/login.png" 
              alt="Login icon"
              )
          button#createUserButton.submitButton(type="button")
            | Create User
            img(
              src="img/create.png" 
              alt="Create User icon"
              )